@charset "UTF-8";
@font-face {
  font-family: "標楷體";
  src: url("../font/kaiu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "標楷體", Arial, sans-serif;
  font-size: 10pt;
  line-height: 1.4;
  background: white;
}

.fromA4 {
  width: 21cm;
  margin: 0 auto;
}
.fromA5 {
  width: 21cm;
  margin: 0 auto;
}

.fromA5-test {
  width: 21cm;
  height: 14.8cm;
  border: 1px dashed rgb(147, 146, 146);
  position: absolute;
  margin: 0 auto;
  z-index: -1;
}


.printForm-sectionA4 {
  min-height: 29.7cm;
  padding: 0 1cm;
  
}
.printForm-sectionA5 {
  min-height: 14.8cm;
  padding: 0 1cm;
  
}

.print-page {
  border: 1px solid #000;
}

.invoice-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid #000; */
}

/* Header Styles */
.invoice-header {
  padding: 10px;
  border-bottom: 1px solid #000;
}

.company-title {
  text-align: center;
  margin-bottom: 5px;
}

.company-title h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 2px 0;
}

.header-info {
  margin-top: 10px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.header-item {
  display: flex;
  gap: 10px;
}

/* Table Header */

.table-section {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.table-header{
  display: flex;
  border-bottom: 1px solid #000;
}

.table-header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-header-row {
  display: flex;
  font-weight: bold;
  padding: 8px 0;
}

.col-product {
  width: 242.08px;
  text-align: center;
}
.col-quantity {
  width: 107.2px;
  text-align: center;
}
.col-price {
  width: 110px;
  text-align: center;
}
.col-amount {
  width: 102px;
  text-align: center;
}
.col-notes-h {
  width: 153.03px;
  font-weight: bold;
}
.col-notes {
  width: 153.03px;
  padding: 0 2px;
}



/* Table Body */
.table-body {
  display: flex;
  width: 100%;
}

.position-relative {
    position: relative;
    
}
.table-absolute {
    display: flex;
    position: absolute;
    z-index: -1;
}

.table-line {
    border-right:1px solid #000;
    height: 687px;
}
.table-line-a5 {
    border-right:1px solid #000;
    height: 156px;
}

.table-row {
  display: flex;
  /* border-bottom: 1px solid #dedede; */
  min-height: 25px;
}

.table-row > div {
  padding: 4px 8px;
  /* border-right: 1px solid #000; */
  display: flex;
  align-items: center;
}

.table-row > div:last-child {
  border-right: none;
}




.text-start {
  text-align:start;
}
.text-end {
  justify-content: flex-end;
}

.text-center {
  justify-content: center;
}


/* Footer */


.footer-row {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  border-top: 1px solid #000;
}



.footer-total {
  grid-column: 1 / 10;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.footer-total-number {
  grid-column: 10 / 12;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.footer-total-text {
  grid-column: 12 / 15;
  grid-row: 1 / 2;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tax-row {
  display: flex;
}

.tax-one {
  grid-column: 1 / 4;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tax-two {
  grid-column: 4 / 5;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tax-three {
  grid-column: 5 / 6;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tax-four {
  grid-column: 6 / 7;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tax-five {
  grid-column: 7 / 8;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tax-six {
  grid-column: 8 / 9;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tax-seven {
  grid-column: 9 / 10;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tax-eight {
  grid-column: 10 / 12;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.tax-nine {
  grid-column: 12 / 15;
  grid-row: 2 / 5;
  /* border-bottom: 1px solid #000; */
  padding: 5px;
  font-size: 9px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  height: 125px;
}

.seller-info {
  display: flex;
  margin-bottom: 2px;
  font-size: 9pt;
}

.sell-total {
  grid-column: 10 / 12;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}
.sell-labal {
  grid-column: 1 / 10;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.seller-stamp {
  position: absolute;
  top:2px;
  left:2px;
}
.seller-stamp img {
  width: 4cm;
}

.chinese-amount {
  grid-column: 5 / 12;
  border-right: 1px solid #000;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12pt;
}

.chinese-label {
  grid-column: 1 / 5;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.mt-1mm {
  margin-top: 1mm;
}
.mt-2cm {
  margin-top: 2cm;
}
.fs-9pt {
  font-size: 9pt;
}
.fs-12pt {
  font-size: 12pt;
}
.fw-bold {
  font-weight: bold;
}
.py-td {
  padding: 8px 0;
}

.void {
    position: absolute;
    top: 110px;
    left: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    color: red;
    border: 3px solid red;
    border-radius: 5px;
    font-size: 20pt;
    font-weight: 700;

}

